*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.row{

	width:1140px;
	margin:auto;
}

header{
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://i.pinimg.com/originals/63/5c/fa/635cfa7bc8203cafa43ddf47b670d5d7.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
h1 {
	color: white;
	font-size: 300%;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	text-align: center;
      	position: absolute;
	width: 1140px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h2{
color: black;
	font-size: 300%;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	text-align: center;

      padding: 0 0 40px 0;
}
.logo{
	height: 75px;
	width: auto;
	border-radius: 200px;
	margin-top: 20px;
	float: left;

}

.list li{
	color: white;
	display: inline;
	float: right;
margin: 30px 30px;
text-transform: capitalize;
letter-spacing: 1px;
font-size: 1.15em;
}
li a{
	text-decoration: none;
	color: white;
}
.features{
	margin:auto;
	width: 1140px;
	padding: 80px 0;
	text-align: center;
}
.para{
	padding: 60px 0;
	line-height: 145%;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	width: 80%;
	margin: auto;
	font-weight: 300;
	

}

.showcase {
width: 100%;

list-style: none;
	

}

.showcase li{
float: left;
display: block;
width: 25%;
overflow: hidden;


}
.images{
	width: 100%;
	margin: 0;
	transform: scale(1.3);
}
.gallery li:hover{
	transform: scale(1);
	transition: transform 0.5s;
	opacity: 0.9;
}

h3{
	font-size: 300%;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-bottom: 80px;

}

.box p{

 line-height: 145%;
 font-weight: 300;
 font-family: 'Lato', sans-serif;
  font-size: 1.2em;	
  margin-bottom: 90px;
  padding-right: 2px;

}
.box{
    padding-right:1px;


}
h4{

	
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 150%;


}
.icon-big{
   font-size: 200%;
   color: blue;
font-family: 'Lato', sans-serif;
margin-bottom: 20px;



}


.contact-form{



margin: 0 auto;
margin-bottom: 40px;
width: 50%;

overflow: hidden;

}
